.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    padding-left: 260px;
    position: absolute;
    width: 100%;
    height: 50px;
    background-color: white;
    .route{
        font-weight: 600;
        font-size: 16px;
    }
    .user{
        display: flex;
        align-items: center;
        gap: 18px;
        padding-right: 20px;
        padding-bottom: 10px;
        img{
            width: 41px;
            height: 41px;
            border-radius: 50%;
        }
        .userinfo{
            .username{
                font-weight: 700;
                font-size: 14px;
                color: #404040;
            }
            .admin{
                font-weight: 600;
                font-size: 12px;
                color: #565656;
            }
        }
    }

}