.products{
    position: absolute;
    top: 7%;
    left: 20%; 
    width: 75vw;
    .head{ 
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    .title{
    font-weight: 700;
    font-size: 28px;
    }
    button{
        border: none;
        background: #4880FF;
        padding: 12px 20px;
        border-radius: 4px;
        font-weight: 600;
        font-size: 14px;
        line-height: 20px;
        color: white;
        cursor: pointer;
    }
    }
    table{
        background: white;
        width: 100%;
        margin-top: 24px;
        border-radius: 10px;
        border-collapse: collapse;

        
        thead{
            height: 48px;
            text-align: center;

        }
        tbody{
            tr{
            border: 0.6px solid #D5D5D5;
            border-left: none;
            border-right: none;
            height: 80px;
            text-align: center;
            font-weight: 600;
            font-size: 14px;
            td{
                .product-img{
                    width: 56px;
                    height: 60px;
                    border-radius: 6px;
                }
                button{
                    border: none;
                    width: 45px;
                    height: 32px;
                    border: 0.6px solid #D5D5D5;
                    background-color: #FAFBFD;
                    font-size: 14.6px;
                    cursor: pointer;
                }
                .edit{
                    border-top-left-radius: 8px;
                    border-bottom-left-radius: 8px;
                    color: rgb(67, 92, 92);
                }
                .delete{
                    border-top-right-radius: 8px;
                    border-bottom-right-radius: 8px;
                    color: #EF3826;
                }
            }
            


            
        }
        }
    }
}