.form{
    position: absolute;
    top: 7%;
    left: 20%; 
    width: 75vw;
    margin-top: 40px;

    form {
        margin-top: 20px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
    .field:nth-child(1), .field:nth-child(2) {
        grid-column: 1 / 2; 
    }
    .field:nth-child(3) {
        grid-column: 2 / 3;
         grid-row: 1 / span 3;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
        label{
            color: #4a4b4c;
            font-weight: 600;
            font-size: 14px;
            letter-spacing: -0.06px;
        }
        input{
            height: 45px;
            border: 1px solid #D8D8D8;
            background: #F1F4F9;
            border-radius: 6px;
            outline: none;
            padding: 13px 16.5px;
            &::placeholder{
                font-weight: 600;
                font-size: 14px;
                letter-spacing: -0.06px;
                color: #A6A6A6;
            }
        }
    .upload-box {
        column-span: all;
        height: 218px;
        width: 475px;
        border: 1px dashed #4880FF4D;
        border-radius: 4px;
        background: #F1F4F9;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: white;
        img{
            width: 125px;
            border-radius: 6px;
        }
}
     button{
        width: 125px; 
        background: #4880FF;
        padding: 12px 20px;
        border-radius: 4px;
        font-weight: 600;
        font-size: 14px;
        line-height: 20px;
        color: white;
        cursor: pointer;
        border: none;
    }
    }

}

